.navBarLayout {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.left-side {
  display: flex;
  width: 40%;
  text-align: center;
  justify-content: center;
}

.desktop-logo {
  height: 200px;
  width: 70%;
}

.mobile-logo {
  height: 150px;
  width: 80%;
}

.right-side {
  padding-right: 10%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  width: 60%;
  z-index: 1;
  text-align: center;
  font-size: 17px;
}

.heading h2 {
  font-size: 30px;
  font-style: italic;
}

.mobile-navBarLayout {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.mobile-left-side {
  display: flex;
  width: auto;
  text-align: center;
}

.mobile-right-side {
  padding-right: 10%;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  z-index: 1;
  text-align: center;
  display: none;
}

.mobile-heading h2 {
  font-size: 30px;
  font-style: italic;
}
