.navBarLayout {
  width: 100%;
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-side {
  display: flex;
  width: 15%;
  text-align: center;
  justify-content: left;
}

.right-side {
  padding-right: 10%;
  display: flex;
  flex-direction: row-reverse;
  width: 65%;
  z-index: 1;
  text-align: center;
}

.heading {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 20%;
  z-index: 1;
}

.heading h2 {
  font-size: 30px;
  font-style: italic;
}
